<%= form_with(model: campeonato_detalhe, local: true, html: { class: 'ui form grey segment' }) do |form| %>
  <%= render partial: 'layouts/errors_messages', locals: { object: campeonato_detalhe } %>

  <h4 class="ui dividing header"><%= campeonato_detalhe.detalhes %></h4>
  <div class="required two wide field">
    <%= form.label :ordem %>
    <%= form.text_field :ordem %>
  </div>

  <div class="actions">
    <%= form.submit nil, class: 'ui primary button' %>
    <%= link_to t('helpers.links.back'), campeonato_detalhes_path, class: 'ui button right floated' %>
  </div>

  <br>
<% end %>