<%= form_with(model: campeonato_detalhe, local: true, html: { class: 'ui form grey segment' }) do |form| %>
  <%= render partial: 'layouts/errors_messages', locals: { object: campeonato_detalhe } %>

  <div class="required field">
    <%= form.label :categoria_id %>
    <%= form.text_field :categoria_id %>
  </div>

  <div class="required field">
    <%= form.label :etapa_id %>
    <%= form.text_field :etapa_id %>
  </div>

  <div class="required field">
    <%= form.label :campeonato_id %>
    <%= form.text_field :campeonato_id %>
  </div>

  <div class="actions">
    <%= form.submit nil, class: 'ui primary button' %>
    <%= link_to t('helpers.links.back'), campeonato_detalhes_path, class: 'ui button right floated' %>
  </div>

  <br>
<% end %>