<table class="ui blue very compact celled striped structured table" id="bateria-<%= bateria.id %>">
  <thead>
  <tr>
    <th colspan="12" class="center aligned blue inverted"><%= bateria.campeonato_detalhe.detalhes %> - <%= bateria.tipo_bateria.descricao %> - Ordem: <%= bateria.numero %> - Pilotos nessa bateria: <%= bateria&.bateria_detalhes&.count %></th>
  </tr>
  <tr>
    <th rowspan="2">Nº</th>
    <th rowspan="2">Atleta/Placa</th>
    <th rowspan="2">UF</th>
    <th colspan="3" class="center aligned">Baterias</th>
    <th colspan="3" class="center aligned">Classificação</th>
    <th rowspan="2">Pontos</th>
    <th rowspan="2">Resultado Final</th>
    <th rowspan="2"></th>
  </tr>
  <tr>
    <th>1ª</th>
    <th>2ª</th>
    <th>3ª</th>
    <th>1ª</th>
    <th>2ª</th>
    <th>3ª</th>
  </tr>
  </thead>
  <tbody>
  <% bateria&.bateria_detalhes&.includes(inscricao: :atleta).order(:raia_1).each_with_index do |d, i| %>
    <tr id="list-atleta-<%= d.id %>-<%= i %>">
      <td ><%= i+1 %></td>
      <td ><%= d.inscricao.nome_placa %></td>
      <td ><%= d.inscricao.atleta.uf %></td>
      <td ><%= d.raia_1 %></td>
      <td ><%= d.raia_2 %></td>
      <td ><%= d.raia_3 %></td>
      <td><div class="one wide field"><%= select_tag 'resultado_1', options_for_select(raias_1, d.resultado_1), prompt: "--", class: 'ui compact dropdown', data: { method: :post, remote: true, url: set_resultado_path(bateria_detalhe_id: d, inscrito_id: d.inscricao, row: i) } %></div></td>
      <td><div class="one wide field"><%= select_tag 'resultado_2', options_for_select(raias_1, d.resultado_2), prompt: "--", class: 'ui compact dropdown', data: { method: :post, remote: true, url: set_resultado_path(bateria_detalhe_id: d, inscrito_id: d.inscricao, row: i) } %></div></td>
      <td><div class="one wide field"><%= select_tag 'resultado_3', options_for_select(raias_1, d.resultado_3), prompt: "--", class: 'ui compact dropdown', data: { method: :post, remote: true, url: set_resultado_path(bateria_detalhe_id: d, inscrito_id: d.inscricao, row: i) } %></div></td>
      <td class="<%= (d.resultado_geral < 4) ? 'warning' : '' rescue '' %>"><i class="<%= (d.resultado_geral < 4) ? 'attention icon' : '' rescue '' %>"></i><%= d.pontos %></td>
      <td class="<%= (d.resultado_geral < 4) ? 'positive' : '' rescue '' %>"><i class="<%= (d.resultado_geral < 4) ? 'checkmark icon' : '' rescue '' %>"></i><%= d.resultado_geral %></td>
      <td>
        <div class="ui toggle checkbox">
          <input type="checkbox" name="inscritos[]" value="<%= d.id %>">
          <label>Passou</label>
        </div>
      </td>
    </tr>
  <% end %>
  </tbody>
</table>