<%= link_to t('helpers.links.new'), new_inscricao_path, class: 'ui right floated mini primary button' %>
<h2><%= Inscricao.model_name.human.pluralize %></h2>

<div class="ui teal segment">
<table class="ui striped table">
  <thead>
    <tr>
      <th><%= Inscricao.human_attribute_name(:atleta) %></th>
      <th><%= Inscricao.human_attribute_name(:categoria) %></th>
      <th><%= Inscricao.human_attribute_name(:etapa) %></th>
      <th><%= Inscricao.human_attribute_name(:confirmado) %></th>
      <th class="right aligned"><%= t('helpers.links.actions') %></th>
    </tr>
  </thead>

  <tbody>
    <% @inscricoes.each do |inscricao| %>
      <tr>
        <td><%= inscricao.atleta %></td>
        <td><%= inscricao.categoria %></td>
        <td><%= inscricao.etapa %></td>
        <td><%= inscricao.confirmado %></td>

        <td class="right aligned">
          <div class="ui icon buttons">
            <%= link_to(content_tag(:i, nil, class: 'info circle icon'), inscricao, class: 'ui button', data: {tooltip: t('helpers.links.show'), inverted: ''}) %>
            <%= link_to content_tag(:i, nil, class: 'edit outline icon'), edit_inscricao_path(inscricao), class: 'ui button', data: {tooltip: t('helpers.links.edit'), inverted: ''} %>
            <%= link_to content_tag(:i, nil, class: 'trash alternate outline icon'), inscricao, method: :delete, data: { confirm: 'Tem certeza que deseja excluir?' }, class: 'ui button', data: {tooltip: t('helpers.links.destroy'), inverted: ''} %>
          </div>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

</div>