<%= link_to t('helpers.links.new'), new_categoria_path, class: 'ui right floated mini primary button' %>
<h1>Categorias</h1>

<table class="ui striped table">
  <thead>
    <tr>
      <th>Descricao</th>
      <th>Idade minima</th>
      <th>Idade maxima</th>
      <th>Livre</th>
      <th>Tipo categoria</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @categorias.each do |categoria| %>
      <tr>
        <td><%= categoria.descricao %></td>
        <td><%= categoria.idade_minima %></td>
        <td><%= categoria.idade_maxima %></td>
        <td><%= categoria.livre %></td>
        <td><%= categoria.tipo_categoria %></td>
        <td><%= link_to 'Show', categoria %></td>
        <td><%= link_to 'Edit', edit_categoria_path(categoria) %></td>
        <td><%= link_to 'Destroy', categoria, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

