<%= link_to t('helpers.links.new'), new_categoria_path, class: 'ui right floated mini primary button' %>
<h1><%= Categoria.model_name.human.pluralize %></h1>

<div class="ui teal segment">
<table class="ui striped table">
  <thead>
    <tr>
      <th><%= Categoria.human_attribute_name(:descricao) %></th>
      <th><%= Categoria.human_attribute_name(:idade_minima) %></th>
      <th><%= Categoria.human_attribute_name(:idade_maxima) %></th>
      <th><%= Categoria.human_attribute_name(:livre) %></th>
      <th><%= Categoria.human_attribute_name(:tipo_categoria) %></th>
      <th><%= t('helpers.links.actions') %></th>
    </tr>
  </thead>

  <tbody>
    <% @categorias.each do |categoria| %>
      <tr>
        <td><%= categoria.descricao %></td>
        <td><%= categoria.idade_minima %></td>
        <td><%= categoria.idade_maxima %></td>
        <td><%= categoria.livre ? 'Sim' : 'Não' %></td>
        <td><%= categoria.tipo_categoria.try(:descricao) %></td>

        <td>
          <div class="ui icon buttons">
            <%= link_to(content_tag(:i, nil, class: 'info circle icon'), categoria, class: 'ui button', data: {tooltip: t('helpers.links.show'), inverted: ''}) %>
            <%= link_to content_tag(:i, nil, class: 'edit outline icon'), edit_categoria_path(categoria), class: 'ui button', data: {tooltip: t('helpers.links.edit'), inverted: ''} %>
            <%= link_to content_tag(:i, nil, class: 'trash alternate outline icon'), categoria, method: :delete, data: { confirm: 'Tem certeza que deseja excluir?' }, class: 'ui button', data: {tooltip: t('helpers.links.destroy'), inverted: ''} %>
          </div>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
<div class="ui borderless menu">
  <div class="right menu">
    <p class="item">Registros: <%= @categorias.size %></p>
  </div>
</div>
<br>

</div>