<div class="ui black segment">
<p>
  <strong><%= Categoria.human_attribute_name(:descricao) %>:</strong>
  <%= @categoria.descricao %>
</p>

<p>
  <strong><%= Categoria.human_attribute_name(:idade_minima) %>:</strong>
  <%= @categoria.idade_minima %>
</p>

<p>
  <strong><%= Categoria.human_attribute_name(:idade_maxima) %>:</strong>
  <%= @categoria.idade_maxima %>
</p>

<p>
  <strong><%= Categoria.human_attribute_name(:livre) %>:</strong>
  <%= @categoria.livre ? 'Sim' : 'Não' %>
</p>

<p>
  <strong><%= Categoria.human_attribute_name(:tipo_categoria_id) %>:</strong>
  <%= @categoria.tipo_categoria.descricao %>
</p>
</div>
<%= link_to t('helpers.links.edit'), edit_categoria_path(@categoria), class: 'ui primary button' %>
<%= link_to t('helpers.links.back'), categorias_url, class: 'ui button' %>