<%= form_with(model: tipo_categoria, local: true, html: { class: 'ui form grey segment' }) do |form| %>
  <%= render partial: 'layouts/errors_messages', locals: { object: tipo_categoria } %>

  <div class="required field">
    <%= form.label :descricao %>
    <%= form.text_field :descricao %>
  </div>

  <div class="actions">
    <%= form.submit nil, class: 'ui primary button' %>
    <%= link_to t('helpers.links.back'), tipo_categorias_path, class: 'ui button right floated' %>
  </div>

  <br>
<% end %>