<%= link_to t('helpers.links.new'), new_tipo_categoria_path, class: 'ui right floated mini primary button' %>
<h2><%= TipoCategoria.model_name.human.pluralize %></h2>

<div class="ui teal segment">
<table class="ui striped table">
  <thead>
    <tr>
      <th><%= TipoCategoria.human_attribute_name(:descricao) %></th>
      <th class="right aligned"><%= t('helpers.links.actions') %></th>
    </tr>
  </thead>

  <tbody>
    <% @tipo_categorias.each do |tipo_categoria| %>
      <tr>
        <td><%= tipo_categoria.descricao %></td>

        <td class="right aligned">
          <div class="ui icon buttons">
            <%= link_to(content_tag(:i, nil, class: 'info circle icon'), tipo_categoria, class: 'ui button', data: {tooltip: t('helpers.links.show'), inverted: ''}) %>
            <%= link_to content_tag(:i, nil, class: 'edit outline icon'), edit_tipo_categoria_path(tipo_categoria), class: 'ui button', data: {tooltip: t('helpers.links.edit'), inverted: ''} %>
            <%= link_to content_tag(:i, nil, class: 'trash alternate outline icon'), tipo_categoria, method: :delete, data: { confirm: 'Tem certeza que deseja excluir?' }, class: 'ui button', data: {tooltip: t('helpers.links.destroy'), inverted: ''} %>
          </div>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

</div>