<%%= form_with(model: <%= model_resource_name %>, local: true, html: { class: 'ui form' }) do |form| %>
  <%%= render partial: 'layouts/errors_messages', locals: { object: <%= model_resource_name %> } %>

<% attributes.each do |attribute| -%>
  <div class="required field">
<% if attribute.password_digest? -%>
    <%%= form.label :password %>
    <%%= form.password_field :password %>
  </div>

  <div class="field">
    <%%= form.label :password_confirmation %>
    <%%= form.password_field :password_confirmation %>
<% else -%>
    <%%= form.label :<%= attribute.column_name %> %>
    <%%= form.<%= attribute.field_type %> :<%= attribute.column_name %> %>
<% end -%>
  </div>

<% end -%>
  <div class="actions">
    <%%= form.submit nil, class: 'ui primary button' %>
    <%%= link_to t('helpers.links.back'), <%= plural_table_name %>_path, class: 'ui button right floated' %>
  </div>
<%% end %>