<div class="ui form black segment">
<% attributes.reject(&:password_digest?).each do |attribute| -%>
<p>
  <strong><%%= <%= singular_table_name.camelcase %>.human_attribute_name(:<%= attribute.name %>) %>:</strong>
  <%%= @<%= singular_table_name %>.<%= attribute.name %> %>
</p>

<% end -%>
</div>
<%%= link_to t('helpers.links.edit'), edit_<%= singular_table_name %>_path(@<%= singular_table_name %>), class: 'ui primary button' %>
<%%= link_to t('helpers.links.back'), <%= index_helper %>_path, class: 'ui button' %>
