<td ><%= row.to_i+1 %></td>
<td ><%= d.inscricao.nome_placa %></td>
<td ><%= d.inscricao.atleta.uf %></td>
<td ><%= d.raia_1 %></td>
<td ><%= d.raia_2 %></td>
<td ><%= d.raia_3 %></td>
<td><div class="one wide field"><%= select_tag 'resultado_1', options_for_select(raias_1, d.resultado_1), prompt: "--", class: 'ui compact dropdown', data: { method: :post, remote: true, url: set_resultado_path(bateria_detalhe_id: d, inscrito_id: d.inscricao, row: row) } %></div></td>
<td><div class="one wide field"><%= select_tag 'resultado_2', options_for_select(raias_1, d.resultado_2), prompt: "--", class: 'ui compact dropdown', data: { method: :post, remote: true, url: set_resultado_path(bateria_detalhe_id: d, inscrito_id: d.inscricao, row: row) } %></div></td>
<td><div class="one wide field"><%= select_tag 'resultado_3', options_for_select(raias_1, d.resultado_3), prompt: "--", class: 'ui compact dropdown', data: { method: :post, remote: true, url: set_resultado_path(bateria_detalhe_id: d, inscrito_id: d.inscricao, row: row) } %></div></td>
<td><%= d.pontos %></td>
<td></td>