<%= link_to t('helpers.links.new'), new_atleta_path, class: 'ui right floated mini primary button' %>
<h2 class="ui dividing header"><%= Atleta.model_name.human.pluralize %></h2>

<div class="ui teal segment">
<table class="ui striped table">
  <thead>
    <tr>
      <th><%= Atleta.human_attribute_name(:nome) %></th>
      <th><%= Atleta.human_attribute_name(:data_nascimento) %></th>
      <th><%= Atleta.human_attribute_name(:cpf) %></th>
      <th><%= Atleta.human_attribute_name(:email) %></th>
      <th><%= Atleta.human_attribute_name(:cidade) %></th>
      <th><%= Atleta.human_attribute_name(:uf) %></th>
      <th><%= t('helpers.links.actions') %></th>
    </tr>
  </thead>

  <tbody>
    <% @atletas.each do |atleta| %>
      <tr>
        <td><%= atleta.nome %></td>
        <td><%= atleta.data_nascimento&.strftime('%d/%m/%Y') %></td>
        <td><%= atleta.cpf %></td>
        <td><%= atleta.email %></td>
        <td><%= atleta.cidade %></td>
        <td><%= atleta.uf %></td>
        <td>
          <div class="ui icon buttons">
            <%= link_to(content_tag(:i, nil, class: 'info circle icon'), atleta, class: 'ui button', data: {tooltip: t('helpers.links.show'), inverted: ''}) %>
            <%= link_to(content_tag(:i, nil, class: 'edit outline icon'), edit_atleta_path(atleta), class: 'ui button', data: {tooltip: t('helpers.links.edit'), inverted: ''}) %>
            <%= link_to(content_tag(:i, nil, class: 'trash alternate outline icon'), atleta, method: :delete, data: { confirm: 'Tem certeza que deseja excluir?', tooltip: t('helpers.links.destroy'), inverted: '' }, class: 'ui button') %>
          </div>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
<div class="ui borderless menu">
  <div class="right menu">
    <p class="item">Registros: <%= @atletas.size %></p>
  </div>
</div>
<br>

</div>