<p>
  <strong>Nome:</strong>
  <%= @atleta.nome %>
</p>

<p>
  <strong>Nacionalidade:</strong>
  <%= @atleta.nacionalidade %>
</p>

<p>
  <strong>Naturalidade:</strong>
  <%= @atleta.naturalidade %>
</p>

<p>
  <strong>Data nascimento:</strong>
  <%= @atleta.data_nascimento %>
</p>

<p>
  <strong>Sexo:</strong>
  <%= @atleta.sexo %>
</p>

<p>
  <strong>Cpf:</strong>
  <%= @atleta.cpf %>
</p>

<p>
  <strong>Rg:</strong>
  <%= @atleta.rg %>
</p>

<p>
  <strong>Email:</strong>
  <%= @atleta.email %>
</p>

<p>
  <strong>Passaporte:</strong>
  <%= @atleta.passaporte %>
</p>

<p>
  <strong>Validade passaporte:</strong>
  <%= @atleta.validade_passaporte %>
</p>

<p>
  <strong>Tipo sanguineo:</strong>
  <%= @atleta.tipo_sanguineo_id %>
</p>

<p>
  <strong>Licenca cbc:</strong>
  <%= @atleta.licenca_cbc %>
</p>

<p>
  <strong>Codigo uci:</strong>
  <%= @atleta.codigo_uci %>
</p>

<p>
  <strong>Nome mae:</strong>
  <%= @atleta.nome_mae %>
</p>

<p>
  <strong>Nome pai:</strong>
  <%= @atleta.nome_pai %>
</p>

<p>
  <strong>Logradouro:</strong>
  <%= @atleta.logradouro %>
</p>

<p>
  <strong>Numero:</strong>
  <%= @atleta.numero %>
</p>

<p>
  <strong>Complemento:</strong>
  <%= @atleta.complemento %>
</p>

<p>
  <strong>Bairro:</strong>
  <%= @atleta.bairro %>
</p>

<p>
  <strong>Cep:</strong>
  <%= @atleta.cep %>
</p>

<p>
  <strong>Cidade:</strong>
  <%= @atleta.cidade %>
</p>

<p>
  <strong>Uf:</strong>
  <%= @atleta.uf %>
</p>

<p>
  <strong>Telefone residencial:</strong>
  <%= @atleta.telefone_residencial %>
</p>

<p>
  <strong>Telefone celular:</strong>
  <%= @atleta.telefone_celular %>
</p>

<%= link_to 'Edit', edit_atleta_path(@atleta) %> |
<%= link_to 'Back', atletas_path %>