<%= link_to t('helpers.links.new'), new_campeonato_etapa_path(@campeonato), class: 'ui right floated mini primary button' %>
<h2><%= Etapa.model_name.human.pluralize %></h2>

<div class="ui teal segment">
<table class="ui striped table">
  <thead>
    <tr>
      <th><%= Etapa.human_attribute_name(:descricao) %></th>
      <th><%= Etapa.human_attribute_name(:data) %></th>
      <th><%= Etapa.human_attribute_name(:cidade) %></th>
      <th><%= Etapa.human_attribute_name(:uf) %></th>
      <th><%= Etapa.human_attribute_name(:campeonato) %></th>
      <th class="right aligned"><%= t('helpers.links.actions') %></th>
    </tr>
  </thead>

  <tbody>
    <% @etapas.each do |etapa| %>
      <tr>
        <td><%= etapa.descricao %></td>
        <td><%= etapa.data %></td>
        <td><%= etapa.cidade %></td>
        <td><%= etapa.uf %></td>
        <td><%= etapa.campeonato.try(:titulo) %></td>

        <td class="right aligned">
          <div class="ui icon buttons">
            <%= link_to(content_tag(:i, nil, class: 'info circle icon'), campeonato_etapa_path(@campeonato, etapa), class: 'ui button', data: {tooltip: t('helpers.links.show'), inverted: ''}) %>
            <%= link_to content_tag(:i, nil, class: 'edit outline icon'), edit_campeonato_etapa_path(@campeonato, etapa), class: 'ui button', data: {tooltip: t('helpers.links.edit'), inverted: ''} %>
            <%= link_to content_tag(:i, nil, class: 'trash alternate outline icon'), campeonato_etapa_path(@campeonato, etapa), method: :delete, data: { confirm: 'Tem certeza que deseja excluir?' }, class: 'ui button', data: {tooltip: t('helpers.links.destroy'), inverted: ''} %>
          </div>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
<div class="ui borderless menu">
  <div class="item">
    <%= link_to 'Campeonatos', campeonatos_path, class: 'ui button', data: {tooltip: 'Voltar', inverted: ''} %>
  </div>
  <div class="right menu">
    <p class="item">Registros: <%= @etapas.size %></p>
  </div>
</div>
<br>

</div>