<div class="ui inverted menu">
  <div class="ui container">
    <a href="<%= root_path %>" class="header item">
      <%= image_tag 'logo.png', class: "logo" %>
        SCBx
    </a>
    <a href="<%= root_path %>" class="item">Home</a>
    <div class="ui simple dropdown item">
      Cadastros <i class="dropdown icon"></i>
      <div class="menu">
        <a class="item" href="<%= atletas_path %>">Atletas</a>
        <a class="item" href="<%= categorias_path %>">Categorias</a>
        <a class="item" href="<%= tipo_categorias_path %>">Tipos de Categorias</a>
        <a class="item" href="<%= tipo_baterias_path %>">Tipos de Baterias</a>
        <div class="divider"></div>
        <div class="header">Eventos</div>
        <a class="item" href="<%= campeonatos_path %>">Campeonatos</a>
      </div>
    </div>
    <div class="ui simple dropdown item">
        Gerenciar <i class="dropdown icon"></i>
        <div class="menu">
          <a class="item" href="<%= campeonato_etapas_path(campeonato_id: 1) %>">Etapas</a>
        </div>
      </div>
  </div>
</div>