<div class="ui inverted menu">
  <div class="ui container">
    <a href="<%= root_path %>" class="header item">
      <img class="logo" src="/assets/logo.png">&nbsp;&nbsp;
        SCBx
    </a>
    <a href="<%= root_path %>" class="item">Home</a>
    <div class="ui simple dropdown item">
      Cadastros <i class="dropdown icon"></i>
      <div class="menu">
        <a class="item" href="<%= atletas_path %>">Atletas</a>
        <a class="item" href="<%= categorias_path %>">Categorias</a>
        <a class="item" href="<%= tipo_categorias_path %>">Tipos de Categorias</a>
        <div class="divider"></div>
        <div class="header">Eventos</div>
        <a class="item" href="<%= campeonatos_path %>">Campeonatos</a>
      </div>
    </div>
    <div class="ui simple dropdown item">
        Gerenciar <i class="dropdown icon"></i>
        <div class="menu">
          <a class="item" href="<%= inscricoes_path %>">Inscrições</a>
          <a class="item" href="#<%#= categorias_path %>">Baterias</a>
          <a class="item" href="#<%#= tipo_categorias_path %>">Resultados</a>
        </div>
      </div>
    <div class="right menu">
      <a href="<%= request.path %>?locale=en" class="item right floated">
        <i class="us flag"></i>
      </a>
      <a href="<%= request.path %>" class="item right floated">
        <i class="br flag"></i>
      </a>
    </div>
  </div>
</div>